[submodule "vimfiles/bundle/nerdtree"]
	path = vimfiles/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vimfiles/bundle/vim-airline"]
	path = vimfiles/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "vimfiles/bundle/snipmate.vim"]
	path = vimfiles/bundle/snipmate.vim
	url = https://github.com/msanders/snipmate.vim.git
[submodule "vimfiles/bundle/rename.vim"]
	path = vimfiles/bundle/rename.vim
	url = https://github.com/danro/rename.vim.git
[submodule "vimfiles/bundle/vim-colorschemes"]
	path = vimfiles/bundle/vim-colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "vimfiles/vim-pathogen"]
	path = vimfiles/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "fonts"]
	path = fonts
	url = https://github.com/powerline/fonts.git
